<!-- Start Subcategories List -->
<div class="collection-collapse-block border-0" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Subcategory</h3>
    <div class="collection-collapse-block-content">
        <div class="collection-brand-filter">
            <ul class="category-list">
                <li *ngFor="let subCategory of subCategories">
                    <a [routerLink]="['/product/list']"
                       [queryParams]="{ subcategory: subCategory._id}">
                        {{ subCategory.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End subCategories List -->