<div class="icon-nav">
  <ul>
    <li class="onhover-div mobile-cart">
      <div>
        <a [routerLink]="['/product/cart']">
          <img src="assets/images/icon/cart.png" class="img-fluid" alt="">
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ products.length }}</span>
      <ul class="show-div shopping-cart" *ngIf='!products.length'>
        <h5>Your cart is currently empty.</h5>
      </ul>
      <ul class="show-div shopping-cart" *ngIf='products.length'>
        <li *ngFor="let product of products">
          <div class="media">
            <a [routerLink]="['/product/detail/', product._id]">
              <img class="mr-3" [src]="product?.images[0]" [alt]="product?.images[0]">
            </a>
            <div class="media-body">
              <a [routerLink]="['/product/detail/', product._id]">
                <h4>{{ product?.title }}</h4>
              </a>
              <h4>
                <span>
                  {{ product?.quantity }} x 
                  {{ product?.price }}
                </span>
              </h4>
            </div>
          </div>
          <div class="close-circle" (click)="removeItem(product)">
            <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </li>
        <li>
          <div class="total">
            <h5>subtotal : <span>{{ getTotal | async }}</span></h5>
          </div>
        </li>
        <li>
          <div class="buttons">
            <a [routerLink]="['/product/cart']" class="view-cart">view cart</a>
            <a [routerLink]="['/product/enquire']" class="checkout">Enquire</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>