<app-header-one [themeLogo]="themeLogo"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
    <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'watch'" [buttonText]="'shop now'">
    </app-slider>
</section>
<!-- Home slider End -->
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title4">
                    <h2 class="title-inner4">Categories</h2>
                    <div class="line">
                        <span></span>
                    </div>
                </div>
                <owl-carousel-o [options]="ProductSliderConfig" class="product-4 product-m no-arrow">
                    <ng-container *ngFor="let category of categories">
                        <ng-template carouselSlide>
                            <div class="product-box product-wrap">
                                <app-categories-box [category]="category" [currency]="productService?.Currency">
                                </app-categories-box>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- product section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title4">
                    <h2 class="title-inner4">products</h2>
                    <div class="line">
                        <span></span>
                    </div>
                </div>
                <owl-carousel-o [options]="ProductSliderConfig" class="product-4 product-m no-arrow">
                    <ng-container *ngFor="let product of products">
                        <ng-template carouselSlide>
                            <div class="product-box product-wrap">
                                <app-product-box-two [product]="product" [currency]="productService?.Currency">
                                </app-product-box-two>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<section class="more">
    <button class="btn btn-solid" [routerLink]="['/product/list/']">More</button>
</section>
<!-- product section end -->

<!-- Cart Open To Left Side-->
<app-cart-variation [direction]="'left'"></app-cart-variation>
<app-footer-one [themeLogo]="themeLogo"></app-footer-one>