<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="regForm">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">First Name</label>
                                <input type="text" class="form-control" id="fname" formControlName="first_name" placeholder="First Name" 
                                [ngClass]="{'is-invalid': regForm.controls.first_name.errors && (regForm.controls.first_name.touched || regForm.controls.first_name.dirty), 'is-valid':regForm.controls.first_name.valid}">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Last Name</label>
                                <input type="text" class="form-control" id="lname" formControlName="last_name" placeholder="Last Name"
                                [ngClass]="{'is-invalid': regForm.controls.last_name.errors && (regForm.controls.last_name.touched || regForm.controls.last_name.dirty), 'is-valid':regForm.controls.last_name.valid}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email"
                                [ngClass]="{'is-invalid': regForm.controls.email.errors && (regForm.controls.email.touched || regForm.controls.email.dirty), 'is-valid':regForm.controls.email.valid}">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Password</label>
                                <input type="password" class="form-control" id="review" formControlName="password" placeholder="Enter your password"
                                [ngClass]="{'is-invalid': regForm.controls.password.errors && (regForm.controls.password.touched || regForm.controls.password.dirty), 'is-valid':regForm.controls.password.valid}">
                            </div>
                            <button class="btn btn-solid" (click)="createAcc()">create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->