<app-breadcrumb [title]="'More Details'" [breadcrumb]="'More Details'"></app-breadcrumb>
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion theme-accordion" id="accordionExample">
                    <ngb-panel *ngFor="let item of details;let i = index" [id]="i" [title]="item.title">
                        <ng-template ngbPanelContent><p>{{item.description}}</p>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
        <div class="row" *ngIf="!details.length">
            No Data
        </div>
    </div>
</section>
<!--Section ends-->